# Python virtual environment
venv/
.venv/
env/
collector/venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# test scripts
test_api/js/config.js